* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'graffity';
    src: url('../Estils/Fonts/Streetbomber.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    background-image: url(../imagenes/smfall.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.dropbtn {
    background-color: #fa7b49;
    padding: 16px;
    border: none;
    cursor: pointer;
    
}
.dropbtn img{
    width: 30px;
}
.dropbtn img:hover{
    width: 45px;
    transition: 1s;
    
}
.dropdown {
    display: inline-block;
    position: relative;
    margin-left: 10%;
    margin-right: auto;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ff7300;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover {
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

.dropdown:hover .dropbtn {
    background-color: #ff7300;
}

header {
    background-color: #fa7b49;
    padding: 5px;
    text-align: center;
    font-size: 26px;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 80%;
    position: relative;
    left: 10%;
    background-color: rgb(153, 109, 197, 50%);
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: rgb(255, 255, 255);

}
#Personatges img:hover{
    width: 50%;
    transition-duration: 1s;
    
}

#titol>p {
    color: rgb(255, 166, 0);
    font-family: graffity, Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 5.9vw;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 4px 4px 4px rgb(255, 0, 221);
    text-decoration: double underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(255, 255, 255);
}

#titol>img {

    display: block;
    position: relative;
    margin: auto;
    width: 40%;
        
}

#Director>div,
#Personatges>div {
    display: flex;
    flex-direction: column;
}

.fright {
    float: right;
    width: 15%;
    height: 15%;
    margin: 0 5px;
}

.fleft {
    float: left;
    width: 15%;
    height: 15%;
    margin: 0 5px;
}

h1 {
    color: rgb(255, 166, 0);
    font-family: 'graffity', Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 48px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 4px 4px 4px rgb(255, 0, 0);
    text-decoration: double underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(255, 255, 255);
}
p{
    margin-left: 5%;
    margin-right: 5%;
}
a:link,
a:visited,
a:hover,
a:active {
    color: rgb(140, 0, 255);
    background-color: transparent;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
}

a.links {
    background-color: transparent;
    text-align: left;
    color: rgb(255, 255, 255);
}

.container {
    height: 200px;
    position: relative;
}

button {
    background-color: #fa7b49;
    color: rgb(140, 0, 255);
    padding: 5px;
    text-align: center;
    font-size: 26px;
    border-style: ridge;
}

.right {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 95%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table, th, td{
    border: solid 1px ;
}
table, td{
    color: rgb(255, 255, 255);
    text-align:center;
}

.galeria>img {
    position: relative;
    display: block;
    margin: 40px auto;
    max-width: 95%;
    max-height: 40%;
    box-shadow:  30px 10px 40px  rgb(0, 247, 255);
    
}

.galeria>iframe {
    display: block;
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
}

#formopinio {

    display: block;
    position:relative;
    background-image: linear-gradient(red, black);
    margin: auto;
    width: 30%;
    border: 1px dashed white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}


.etiqueta {
    color: white;
}

.altrespelis {
    display: inline-block;
    margin: 40px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.26);
    border: solid 2px;
    
}
.altrespelis h1{
    text-align: left;
}
.altrespelis img, iframe{
    display: block;
    position: relative;
    margin: auto;
    width: 40%;
    
    
}
footer {
    color: rgb(21, 255, 0);
    font-weight: 900;
    font-size: 18px;
    text-decoration: underline;
    text-align: right;
    background-image: url(../imagenes/imgfooter.jpg);
    background-repeat:repeat-x;
    background-size: 33% 100%;
    padding: 30px;
}
footer p { 
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.568);
}